<% if user.errors.any? %>
  <h3><%= user.errors.count %> error prohibited this obj from being saved:</h3>
  <ul class="ml-4">
  <%= user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>