<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><strong><%= user.name %></strong></td>
    </tr>
    <tr>
      <td><strong>introduction</strong></td>
      <td><strong><%= user.introduction %></strong></td>
    </tr>
  </table>
  
  <%= link_to edit_user_path(user.id), class:"btn btn-block btn-outline-secondary mt-4" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>