<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td></td>
      <td><a href="/"><%= @book.title %></a></td>
      <td><%= @book.opinion %></td>
      <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
      <% if @book.user == current_user %>
        <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
      <% end %>
    </tr>
  </tbody>
</table>